version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.4.6
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      #- run:
      #    name: Running tests
      #    command: |
      #      . venv/bin/activate
      #      python3 tests.py
      - run:
          name: Code Coverage Tests
          command: |
            . venv/bin/activate
            coverage run python3 tests.py  # -m pytest
            coverage report
            coverage html  # open htmlcov/index.html in a browser
      - store_artifacts:
          path: htmlcov # folder where coverage stores HTML report
          # path: test-reports/
          destination: python_app
